h1{
    text-align:center;
    color: red;
    font-size: 40px;
    background-color: blue;
}

body{
    background-color: rgb(47, 255, 231);
}

p{
    /* margin-left: 500px; */
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

.martisor{
    width: 500px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top: 10px solid red;
    border-right: 10px solid white;
    border-bottom: 10px solid red;
    border-left: 10px solid white;
    border-radius: 300px;
}

.inima{
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: beat 2s infinite;
}

@keyframes beat{
    0%, 100%{transform: scale(1, 1);}
    50%{transform: scale(0.9, 0.9);}
}